/* Farben auf die Kundenfarben anpassen */

/*
.openerp .oe_secondary_menu_section {
color: #000000 !important;
}

.openerp .oe_application a {
color: #e18007 !important;
}

.openerp .oe_horizontal_separator {
color: #000000 !important;
}

.openerp .oe_view_manager table.oe_view_manager_header h2 a {
color: #e18007 !important;
}

.openerp .oe_secondary_submenu .oe_active {
background: #e18007 !important;
}

.openerp .oe_tag_dark {
background: #AD6801 !important;
}
*/